/* hax */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}

body {
  font-family: "Lucida Grande", Arial, Verdana, sans-serif;
  font-size: 12px;
  color: #333;
  background-color: #fff;
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

img {
  border: none;
}

a, a:visited {
  color: #86b514;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  color: #444;
  margin-top: 1em;
}

h3 {
  clear: left;
  margin-top: 1em;
  font-size: 1.2em;
}

h4 {
  margin-top: 0.5em;
  font-size: 1.1em;
}

dt,dd {
  margin-bottom: 0.2em;
}
dt {
  font-weight: bold;
  float: left;
  width: 5.5em;
  padding-right: 0.5em;
  text-align: right;
}

/* LAYOUT */

#container {
  margin: auto;
  width: 800px;
}

#main h2, #main h3 {
  margin-bottom: 0.3em;
}

/* FORMS */

label {
  display: block;
  margin-top: 7px;
  margin-bottom: 3px;
}
input {
  font-size: 1.1em;
  padding: 2px;
}
button {
  padding: 2px 3px;
  margin-top: 10px;
  font-size: 1.1em;
  color: #fff;
  background: #95c229;
  border: 1px solid #76a500;
}

/* FLASH NOTICES */

.notice {
  border: 1px solid #dedede;
  background: #eee;
  padding: 5px;
}

/* HEADER */

#account {
  float: right;
  text-align: right;
  margin-top: 5px;
}
#account h2 {
  font-size: 1.2em;
  font-weight: bold;
}

#header {
  border-bottom: 1px solid #dedede;
  margin-bottom: 10px;
}

#nav {
  list-style-type: none;
}

#nav li {
  float: left;
}

#nav a {
  color: #999;
  display: block;
  padding: 4px 7px;
}

#nav a:hover {
  color: #444;
  background: #efefef;
}

/* DASHBOARD */

#new_video {
  border: 1px solid #dedede;
  background: #f9f9f9;
  float: right;
  padding: 5px;
  width: 11em;
  text-align: center;
  margin-top: 23px;
}

#new_video h2 {
  margin: 0px;
  font-size: 1.1em;
}

.more_videos {
  margin-top: 7px;
  font-weight: bold;
  font-size: 0.9em;
}

/* VIDEOS LIST */

table.videos {
  width: 100%;
  border-collapse: collapse;
}
.dashboard table.videos, .more_videos {
  width: 630px;
}
table.videos th, table.videos td {
  padding: 3px 4px;
}
table.videos th {
  background: #eee;
  color: #888;
  font-size: 0.9em;
  text-align: left;
}
table.videos tr {
  border-bottom: 1px solid #dedede;
}
table.videos .filename {
  font-weight: bold;
}
table.videos td span {
	display: block;
  font-size: 0.8em;
  color: #555;
}
table.videos .error, table.videos .encoding_error {
  font-weight: bold;
  color: #f90203;
}
table.videos .success {
  font-weight: bold;
  color: #86b514;
}

/* SHOW VIDEOS */

.video {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background: #eee;
}
.video .response {
  width: 320px;
  height: 160px;
  padding: 5px;
  padding-top: 80px;
  text-align: center;
  font-size: 0.9em;
}
.embed_code {
  clear: left;
}

/* ACCOUNT */

.account_details h3 {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 1px;
}
.account_details .note {
  font-size: 0.9em;
  margin-bottom: 7px;
}
.account_details .value {
  display: inline;
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 2px;
}
.edit_details {
  font-weight: bold;
  border-top: 1px solid #dedede;
  margin-top: 15px;
  padding-top: 5px;
}