<div id="pandaloader">	
	<div id="weredone">
		<div id="donebar" class="bar">
		</div>
		<div id="done_button" class="button"><%= image_tag 'done.gif' %></div>
		<div id="eta">You can now close this window</div>
	</div>
</div>