<form action="/videos" method="post">
	<input type="submit" value="Continue to upload form">
	<input type="hidden" name="panda_video[account_token]" id="panda_video_account_token" value="<%= params[:account_token] %>">
</form>